{% extends 'base.html' %}
{% block content %}

<h1>About the App Cache</h1>
<hr/>
<div id="pooh" class="col s12 m6">
    <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <h3>Think, Think, Think!</h3>
            <img class="responsive-img" src="https://i.pinimg.com/564x/73/4a/9e/734a9e6ce0de4255bb6a1a7a1ae93340.jpg" alt="pooh thinking really hard in red shirt, with stone wall background">
        </div>
    </div>
</div>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">My Origin Story</span>
          <p>It all started towards the end of my coding bootcamp, when we were asked to come up with an idea for a basic app using Django/Python/Materialize/PostgreSQL, to closely replicate a basic app we had built in class. Unfortunately my last two brain cells couldn't come up with an idea between them to save their sad little lives. Thus the idea to build an app to store and share app ideas sparked to life in my poor little brain. Which is really ironic, beacuse in order to hydrate my SQL database with instances of data, I would need to come up with numerous app ideas, rather than just the one I needed to come up with at the start. RIP me.</p>
        </div>
      </div>
    </div>

{% endblock %}