{% extends 'base.html' %} 
{% block content %}

<h1>App List</h1>


{% for app in apps %}
<div class="card">
  <a href="{% url 'detail' app.id %}">
    <div class="card-content">
      <span class="card-title">{{ app.name }}</span>
      <p>Description: {{ app.description }}</p>
      {% if app.built == 'Built' %}
      <p>Cross This One Off The To Code List!</p>
      {% else %}
      <p>Have You Coded Today? No? Try Building This App!</p>
      {% endif %}
    </div>
  </a>
</div>
{% endfor %}

{% endblock %}
